<%- include("header") -%>
<br/>
<br/>

<p>Acronyms (Abbreviations), GoLinks and many more (to come). A set of software applications/utilities, as a mini Swiss army knife, for small/medium companies. Read the accompanying README.md for more details.</p>

<br/>
<br/>
<br/>
<br/>
<ul>
    <li><a href="./acronyms">Acronyms</a></li>
    <li><a href="./golinks">GoLinks</a></li>
</ul>

<br/>
<br/>
<br/>
<br/>
<%- include("footer") -%>
